@charset "UTF-8";
/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* REM */
html {
  font-size: 62, 5%;
  font-family: "Playfair Display", serif;
}

/* BODY GENERAL */
body {
  background-color: black;
  padding: 0;
  font-family: "Playfair Display", serif;
}

/*NAVBAR*/
.navbar {
  background-color: black !important;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding-left: 1rem;
  }
}
.navbar-nav .nav-link {
  color: whitesmoke;
}
.navbar-nav .nav-item .nav-link:hover {
  color: #e51a4c;
}
.navbar-nav .bg-body-tertiary {
  background-color: black !important;
}

/*footer*/
footer {
  background-image: linear-gradient(black, rgb(27, 27, 27));
}

footer h2 {
  font-size: 3rem;
  text-align: center;
  color: whitesmoke;
  padding: 2rem 0 2rem 0;
  margin: 0;
}
footer p {
  font-size: 1rem;
  text-align: center;
  color: whitesmoke;
  padding: 5rem;
  margin: 0;
}
footer p {
  text-decoration: underline;
}
footer .lista-contactos {
  list-style: none;
  text-align: center;
  padding-right: 2rem;
}
footer .lista-contactos li {
  display: inline;
}
footer .lista-contactos li a {
  font-size: 5rem;
  text-align: left;
  color: whitesmoke;
  padding: 2rem;
  margin: 0;
}
footer .lista-contactos li a:hover {
  color: #e51a4c;
}
@media screen and (max-width: 768px) {
  footer h2 {
    font-size: 2rem;
    text-align: center;
    color: whitesmoke;
    padding: 1.5rem 0 2rem 0;
    margin: 0;
  }
  footer p {
    font-size: 1rem;
    text-align: center;
    color: whitesmoke;
    padding: 4rem;
    margin: 0;
  }
  footer .lista-contactos li a {
    font-size: 3rem;
  }
}
@media screen and (max-width: 576px) {
  footer h2 {
    font-size: 1.5rem;
    text-align: center;
    color: whitesmoke;
    padding: 1.5rem 0 1.5rem 0;
    margin: 0;
  }
  footer p {
    font-size: 1rem;
    text-align: center;
    color: whitesmoke;
    padding: 3rem;
    margin: 0;
  }
  footer .lista-contactos li a {
    font-size: 2rem;
  }
}

/*MAIN DEL INDEX*/
.main-index .section-vehiculos {
  background-image: radial-gradient(rgb(28, 9, 41), black);
}
.main-index h5 {
  font-size: 3rem;
  text-align: center;
  color: whitesmoke;
}
.main-index p {
  font-size: 2rem;
  text-align: center;
  color: whitesmoke;
}
.main-index h1 {
  font-size: 3rem;
  text-align: center;
  color: whitesmoke;
  padding: 0rem 3rem 2rem 3rem;
  margin: 0;
}
.main-index h2 {
  font-size: 3rem;
  text-align: left;
  color: whitesmoke;
  padding: 2rem;
  margin: 0;
}
.main-index .menu-imagenes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 6rem;
}
.main-index .menu-imagenes a img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.main-index .menu-imagenes a img:hover {
  filter: grayscale(90%);
}
@media screen and (max-width: 768px) {
  .main-index h1 {
    font-size: 2rem;
    text-align: center;
    color: whitesmoke;
    padding: 0rem 3rem 1rem 3rem;
    margin: 0;
  }
  .main-index h2 {
    font-size: 2rem;
    text-align: left;
    color: whitesmoke;
    padding: 1.5rem 3rem 1.5rem 3rem;
    margin: 0;
  }
  .main-index .menu-imagenes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 576px) {
  .main-index h1 {
    font-size: 1.5rem;
    text-align: center;
    color: whitesmoke;
    padding: 0rem 3rem 1rem 3rem;
    margin: 0;
  }
  .main-index h2 {
    font-size: 1.5rem;
    text-align: left;
    color: whitesmoke;
    padding: 1.5rem 3rem 1.5rem 3rem;
    margin: 0;
  }
}

/*MAIN DE PAGINA HISTORIA*/
.main-historia {
  background-image: radial-gradient(rgb(28, 9, 41), black);
}

.main-historia h1 {
  font-size: 3rem;
  text-align: center;
  color: whitesmoke;
  padding: 1rem 8rem;
  margin: 0;
}
.main-historia .origen, .main-historia .origen-2, .main-historia .origen-3, .main-historia .origen-4 {
  display: flex;
  flex-direction: column;
  padding: 1rem 8rem;
  margin: 0;
}
.main-historia .origen, .main-historia .origen-2, .main-historia .origen-3, .main-historia .origen-4 {
  align-items: center;
  text-align: center;
}
.main-historia .origen p, .main-historia .origen-2 p, .main-historia .origen-3 p, .main-historia .origen-4 p {
  font-size: 1.5rem;
  text-align: justify;
  color: rgba(245, 245, 245, 0.425);
  padding: 0;
  margin: 0 0 1rem 0;
}
.main-historia .origen img, .main-historia .origen-2 img, .main-historia .origen-3 img, .main-historia .origen-4 img {
  max-width: 80%;
  height: auto;
  padding: 0;
  margin: 1rem 0 2rem 0;
  border-radius: 1rem;
  flex: 0;
}
.main-historia .origen h1, .main-historia .origen-2 h1, .main-historia .origen-3 h1, .main-historia .origen-4 h1 {
  font-size: 3rem;
  text-align: left;
  color: whitesmoke;
  padding: 1rem 8rem;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .main-historia h1 {
    font-size: 2.5rem;
    text-align: left;
    color: whitesmoke;
    padding: 1rem 0rem 1rem 4rem;
    margin: 0;
  }
  .main-historia .origen, .main-historia .origen-2, .main-historia .origen-3, .main-historia .origen-4 {
    padding: 1rem 4rem 1rem 4rem;
  }
  .main-historia .origen p, .main-historia .origen-2 p, .main-historia .origen-3 p, .main-historia .origen-4 p {
    font-size: 1.2rem;
  }
  .main-historia .origen img, .main-historia .origen-2 img, .main-historia .origen-3 img, .main-historia .origen-4 img {
    max-width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .main-historia h1 {
    font-size: 2rem;
    text-align: left;
    color: whitesmoke;
    padding: 1rem 0rem 0.5rem 3rem;
    margin: 0;
  }
  .main-historia .origen, .main-historia .origen-2, .main-historia .origen-3, .main-historia .origen-4 {
    padding: 1rem 3rem 1rem 3rem;
  }
  .main-historia .origen p, .main-historia .origen-2 p, .main-historia .origen-3 p, .main-historia .origen-4 p {
    font-size: 1.2rem;
  }
  .main-historia .origen img, .main-historia .origen-2 img, .main-historia .origen-3 img, .main-historia .origen-4 img {
    max-width: 100%;
  }
  .main-historia .origen .parrafo-extra, .main-historia .origen-2 .parrafo-extra, .main-historia .origen-3 .parrafo-extra, .main-historia .origen-4 .parrafo-extra {
    display: none;
  }
}

/*MAIN DE PAGINA INNOVACIÓN*/
.innovacion-general {
  background-image: radial-gradient(rgb(28, 9, 41), black);
}

.innovacion-general .img-oliver img {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  width: 100%;
}
.innovacion-general .avances-innovadores {
  padding: 1rem 10rem;
}
.innovacion-general .avances-innovadores h1 {
  font-size: 2.5rem;
  text-align: center;
  color: whitesmoke;
  padding: 5rem;
  margin: 0;
}
.innovacion-general .avances-innovadores p {
  font-size: 1.5rem;
  text-align: justify;
  color: rgba(245, 245, 245, 0.425);
  padding: 0;
  margin: 0 0 3rem 0;
}
.innovacion-general .avances-innovadores h6 {
  font-size: 1.5rem;
  text-align: center;
  color: whitesmoke;
}
.innovacion-general .avances-innovadores h4 {
  font-size: 2rem;
  text-align: left;
  color: whitesmoke;
}
@media screen and (max-width: 768px) {
  .innovacion-general .avances-innovadores {
    padding: 1rem 5rem;
  }
  .innovacion-general .avances-innovadores h1 {
    font-size: 1.5rem;
    text-align: center;
    color: whitesmoke;
    padding: 3rem;
    margin: 0;
  }
  .innovacion-general .avances-innovadores p {
    font-size: 1.2rem;
    text-align: justify;
    color: rgba(245, 245, 245, 0.425);
    padding: 0;
    margin: 0 0 2.5rem 0;
  }
  .innovacion-general .avances-innovadores h6 {
    font-size: 1rem;
    text-align: center;
    color: whitesmoke;
  }
  .innovacion-general .avances-innovadores h4 {
    font-size: 1.5rem;
    text-align: left;
    color: whitesmoke;
  }
}
@media screen and (max-width: 576px) {
  .innovacion-general .avances-innovadores {
    padding: 1rem 3rem;
  }
  .innovacion-general .avances-innovadores h1 {
    font-size: 1.4rem;
    text-align: center;
    color: whitesmoke;
    padding: 3rem;
    margin: 0;
  }
  .innovacion-general .avances-innovadores p {
    font-size: 1.1rem;
    text-align: justify;
    color: rgba(245, 245, 245, 0.425);
  }
  .innovacion-general .avances-innovadores h6 {
    font-size: 0.8rem;
    text-align: center;
    color: whitesmoke;
  }
  .innovacion-general .avances-innovadores h4 {
    font-size: 1.25rem;
    text-align: left;
    color: whitesmoke;
  }
  .innovacion-general .avances-innovadores .parrafo-extra {
    display: none;
  }
}

/*MAIN INDIVIDUAL DE CADA MODELO*/
.galeria-specs h3 {
  font-size: 2rem;
  text-align: center;
  color: whitesmoke;
  padding: 0;
  margin: 3rem;
}
.galeria-specs h1 {
  font-size: 3rem;
  text-align: center;
  color: whitesmoke;
  padding: 1rem 0rem 2rem 0rem;
  margin: 0;
}
.galeria-specs h5 {
  font-size: 5rem;
  text-align: center;
  color: whitesmoke;
}
.galeria-specs p {
  font-size: 2.5rem;
  text-align: center;
  color: whitesmoke;
}
.galeria-specs .specs-bordes {
  background-image: radial-gradient(rgb(28, 9, 41), black);
}
.galeria-specs .specs-bordes {
  padding: 2rem;
}
.galeria-specs .specs-bordes .specs-general {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0rem;
}
.galeria-specs .specs-bordes .specs-general h2 {
  font-size: 1rem;
  text-align: center;
  color: whitesmoke;
}
.galeria-specs .specs-bordes .specs-general p {
  font-size: 2rem;
  text-align: center;
  color: whitesmoke;
}
.galeria-specs .specs-bordes .specs-general .specs-column {
  flex: 1;
  text-align: center;
  border-right: 1rem;
  padding: 1rem;
}
.galeria-specs .specs-bordes .specs-general .specs-column:last-child {
  border-right: none;
}

/*MAIN DE PAGINA MODELOS*/
.main-de-modelos-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: radial-gradient(rgb(28, 9, 41), rgb(0, 0, 0));
  padding-bottom: 2rem;
  text-align: center;
}

.main-de-modelos-2 .col-md-4 {
  padding: 3rem 5rem 3rem 5rem;
}
.main-de-modelos-2 h3 {
  font-size: 3rem;
  text-align: center;
  color: whitesmoke;
  padding: 2rem 2rem 1rem 2rem;
  margin: 2rem 0 1rem 0;
}
.main-de-modelos-2 h1 {
  font-size: 3rem;
  text-align: center;
  color: whitesmoke;
  padding: 2rem 1rem 0rem 1rem;
  margin: 0rem;
}
.main-de-modelos-2 .black-bg-card {
  background-color: black;
  align-items: center;
}
.main-de-modelos-2 .black-bg-card h5 {
  font-size: 2rem;
  text-align: center;
  color: whitesmoke;
}
.main-de-modelos-2 .black-bg-card p {
  font-size: 2rem;
  text-align: center;
  color: whitesmoke;
}

@media screen and (max-width: 768px) {
  .main-de-modelos-2 h3 {
    font-size: 2rem;
    text-align: center;
    color: whitesmoke;
    padding: 2rem 2rem 0rem 2rem;
    margin: 2rem 0 1rem 0;
  }
  .main-de-modelos-2 h1 {
    font-size: 2rem;
    text-align: center;
    color: whitesmoke;
    padding: 2rem 1rem 0rem 1rem;
    margin: 0rem;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }
  .col-md-4 {
    flex: 0 0 calc(50% - 20px);
    margin: 0.5rem;
    padding: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .main-de-modelos-2 h3 {
    font-size: 1.5rem;
    text-align: center;
    color: whitesmoke;
    padding: 2rem 2rem 0rem 2rem;
    margin: 2rem 0 1rem 0;
  }
  .main-de-modelos-2 h1 {
    font-size: 1.5rem;
    text-align: center;
    color: whitesmoke;
    padding: 2rem 1rem 0rem 1rem;
    margin: 0rem;
  }
}
/*MAIN DEL ENCONTRANOS*/
.main-encontranos {
  background-image: radial-gradient(rgb(28, 9, 41), black);
}

.main-encontranos {
  display: flex;
  flex-direction: column;
  padding: 0rem 5rem;
  margin: 0;
}

.main-encontranos .mapa-texto {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 2rem;
}
.main-encontranos .mapa-texto iframe {
  max-width: 100%;
  height: 25rem;
  padding: 0;
  margin: 0;
  border-radius: 0;
  flex: 1;
}
.main-encontranos .mapa-texto h1 {
  font-size: 3rem;
  text-align: right;
  color: whitesmoke;
  padding: 0;
  margin: 0;
}
.main-encontranos .mapa-texto h1 {
  flex: 1;
}
.main-encontranos .concesionario-texto {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 2rem;
}
.main-encontranos .concesionario-texto img {
  max-width: 100%;
  height: 25rem;
  padding: 0;
  margin: 0;
  border-radius: 0;
  flex: 1;
}
.main-encontranos .concesionario-texto h1 {
  font-size: 2rem;
  text-align: left;
  color: whitesmoke;
  padding: 0;
  margin: 0 1rem 0 0;
}
.main-encontranos .concesionario-texto h1 {
  flex: 1;
}

@media screen and (max-width: 768px) {
  .main-encontranos {
    padding: 0rem 2rem;
  }
  .main-encontranos .mapa-texto {
    flex-direction: column;
  }
  .main-encontranos .mapa-texto iframe {
    max-width: 100%;
    height: 25rem;
    padding: 0;
    margin: 0;
    border-radius: 0;
    flex: 1;
  }
  .main-encontranos .mapa-texto h1 {
    font-size: 1.5rem;
    text-align: justify;
    color: whitesmoke;
  }
  .main-encontranos .concesionario-texto {
    flex-direction: column;
    align-items: center;
  }
  .main-encontranos .concesionario-texto img {
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0 0 1rem 0;
    border-radius: 0;
    flex: none;
  }
  .main-encontranos .concesionario-texto h1 {
    font-size: 1.5rem;
    text-align: justify;
    color: whitesmoke;
    padding: 0;
    margin: 0 0 2rem 0;
  }
}

@media screen and (max-width: 576px) {
  .main-encontranos .concesionario-texto h1 {
    font-size: 1.2rem;
  }
  .main-encontranos .mapa-texto iframe {
    height: 12.5rem;
  }
  .main-encontranos .mapa-texto h1 {
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
