//paleta de colores

$color-principal: black;

$color-secundario: rgb(28, 9, 41);

$color-hover-navbar: #e51a4c;

$color-2-footer: rgb(27, 27, 27);

$color-titulos: whitesmoke;

$color-parrafos:rgba(245, 245, 245, 0.425);








